In [1]:
a='Puranjay'
print(a*3)

PuranjayPuranjayPuranjay

In [4]:
a=int(input("Enter first no :"));
b=int(input("Enter second no :"));
c=int(input("Enter third no :"));
result=a+b+c;
print(result);

Enter first no :2
Enter second no :3
Enter third no :4
9

In [5]:
a="rahul"
b="kumar"
c="mondal"
d=a+b+c

print(d)

rahulkumarmondal

In [6]:
for i in range(1,11):
    print(7,"*",i,"=",7*i)
print("\n")
for i in range(1,11):
    print(9,"*",i,"=",9*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [7]:
def print_table(n):
    for i in range(1, 11):
        print(f"{n} x {i} = {n * i}")


n = int(input("Enter a number to print its multiplication table: "))


print_table(n)

Enter a number to print its multiplication table: 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [8]:
n = int(input("Enter a number: "))

total_sum = 0

for i in range(1, n + 1):
    total_sum += i

print(f"The sum of all numbers from 1 to {n} is: {total_sum}")

Enter a number: 5
The sum of all numbers from 1 to 5 is: 15

In [9]:

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

maximum = max(num1, num2, num3)


print(f"The maximum number is: {maximum}")

Enter first number: 1
Enter second number: 2
Enter third number: 3
The maximum number is: 3.0

In [11]:
def sum_divisible_by_7_and_9(n):
    total_sum = 0
    for i in range(1, n+1):
        if (i % 7 == 0 and i % 9 == 0):
            total_sum += i
    return total_sum

n = int(input("Enter the value of n: "))

result = sum_divisible_by_7_and_9(n)
print(f"The sum of all numbers divisible by 7 and 9 from 1 to {n} is: {result}")

Enter the value of n: 10
The sum of all numbers divisible by 7 and 9 from 1 to 10 is: 0

In [12]:
def prime_no(n):
    total_sum = 0
    for i in range(2, n+1):
        is_prime = True
        for j in range(2, i//2+1):
            if i % j == 0:
                is_prime = False
                break
        if is_prime:
            total_sum += i
    return total_sum

n = int(input("Enter the value of n: "))

result = prime_no(n)
print(f"The sum of all prime numbers from 1 to {n} is: {result}")

Enter the value of n: 10
The sum of all prime numbers from 1 to 10 is: 17